version: '3.1'
services:
  kong:
    build:
      context: api-gateway
      dockerfile: Dockerfile
    networks:
      - kong-net
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /etc/kong/kong.yaml
    ports:
      - "8000:8000"
      - "8001:8001"
    volumes:
      - ./api-gateway/kong.yaml:/etc/kong/kong.yaml
    command: kong start --run-migrations databaseless

  api:
    build:
      context: draw
      dockerfile: src/deployment/Dockerfile
    volumes:
      - ./:/draw
      - /draw/node_modules
    networks:
      - kong-net
      - api-net
    ports:
      - "9000:9000"
    environment:
      - NODE_ENV=production
      - PORT=9000

      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=myuser
      - DB_PASSWORD=myuserpassword
      - DATABASE=mydatabase

    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: myuserpassword
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    networks:
      - api-net
    ports:
      - "33061:3306"
    volumes:
      - "./data:/var/lib/mysql"

networks:
  kong-net:
    driver: bridge
  api-net:
    driver: bridge
